
.carousel-item > img{
    filter: brightness(50%);
}

#comprartkt-nav{
    color:rgb(6, 131, 6);
}

#comprartkt-nav:hover{
    color:rgb(147, 245, 82);
}

#btn-orador{
    background-color:transparent; 
    color:white;
}

#btn-orador:hover{
    background-color:rgba(0, 0, 0, 0.747); 
    color:white;
}

#oradores-card{
    gap: 1.5rem;
}
.card{
    width: 17rem;
}

.subrayado{
    border-bottom: 0.1rem dashed #696767;
    text-decoration: none; 
}

.no-gutters>[class*=col-]{
    padding-right: 0.0625rem;
}

.textos-varios{
    font-size: 0.7813rem;
    line-height: 1.6rem;
    color:rgb(247, 240, 240);
}

.textos-form{
    font-size: 0.86rem;
    line-height: 1.6rem;
}

.textos-card{
    font-size: 0.68rem;
    line-height: 1.5rem;
    color: darkslategray;
    font-weight: 480;
}

.btn-enviar{
    background-color: #96C93E; 
    color:white
}

#footer{
    background: linear-gradient(90deg, rgba(28,54,67,1) 0%, rgba(30,83,114,1) 100%);
}

#footer > li > a{
    display:flex;
    justify-content: center;
    align-items: center;
    width:7rem;
    color: white;
}


@media (min-width:768px)  {
    .carousel-item > img{
        max-height: 100vh;
        width: 100vw;
    }
    #footer{
        gap:2rem;
    }
    .slide_caption{
        padding-bottom: 5%;
    }
}


.tickets .container-tickets {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.tickets-category {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem;
}

.tickets-category .estudiante, .trainee, .junior {
    width: 30%;
    min-width: 180px;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
}

.tickets-category .estudiante:hover, .trainee:hover, .junior:hover {
    transform: scale(1.1);
}

.tickets-category h2 {
    font-size: 1.5rem;
}

.tickets-category h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.tickets-category h5 {
    font-size: 1rem;
    color: var(--gray-700);
}

.tickets-category h6 {
    font-size: 0.7rem;
    color: var(--gray-600);
}

.tickets-category .estudiante {
    border: 1px solid rgb(3, 3, 252);
}


.tickets-category .trainee {
    border: 1px solid rgb(34, 215, 228);
}

.tickets-category .junior {
    border: 1px solid rgb(247, 162, 6);
}


.container-tickets .tickets-text {
    text-align: center;
}

.tickets-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tickets-form .ticketsFirstName, .ticketsLastName {
    width: 49%;
    margin: 0.5rem 0;
    padding: 5px;
}

.tickets-form .ticketsEmail {
    width: 100%;
    padding: 4px;
}

.tickets-form .labelTicketsQuantity, .labelTicketsCategory {
    width: 49%;
    margin: 0.5rem 0;
}

.tickets-form .ticketsQuantity, .ticketsCategory {
    width: 100%;
    padding: 4px;
}

.tickets-form .ticketsCategory {
    background-color: transparent;
    color: var(--gray-600);
}

#ticketsBorrar, #ticketsResumen{
    color: white;
}

.tickets-form .ticketsOutput {
    width: 100%;
    background-color: rgb(155, 200, 222);
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: var(--gray-900);
}

.ticketsOutput .ticketsValue {
    float: left;
    color: rgb(3, 3, 136);
}

.ticketsOutput .ticketsBuy {
    float: right;
    cursor: pointer;
}


.tickets-form .btnTickets {
    width: 49%;
    background-color: #73bd48;
    color: var(--gray-100);
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
}